<div class="container admin">
    <div class="row">
        <div class="col-md-12">
            GRAFIK

            <mat-accordion>
                <mat-expansion-panel *ngFor="let day of schedule">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        {{ scheduleUtil.getDayNameById(day.day) }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button 
                        *ngFor="let admission of day.admissionHours"
                        type="submit" 
                        mat-flat-button
                        [ngClass]="mat-primary">
                        {{ scheduleUtil.formatTime(admission.startTime) }} - {{ scheduleUtil.formatTime(admission.endTime) }}
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
