<div class="container login-page">
    <div class="row login-logo">
        <img src="./../../../assets/images/allergo.png" />
    </div>

    <div class="row login-main">
        <div class="offset-md-3 col-md-6 login-form">
            <div class="card">
                <div class="card-header bg-dark">
                    Logowanie do portalu <strong><span class="brand-color">All</span><span class="brand-color">ergo</span></strong>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="login-email">Email</label>
                            <input type="text" placeholder="Email" id="login-email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="login-password">Hasło</label>
                            <input type="password" placeholder="Hasło" id="login-password" class="form-control" />
                        </div>

                        <a href="#" class="text-muted">Zapomniałem hasła</a>
                        <a href="index.html" class="btn btn-success float-right">Zaloguj się</a>
                        <!--<input type="submit" class="btn btn-success float-right" value="Zaloguj się" />-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>