<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Twoje centrum</h1>
</div>
<div *ngIf="rolesUtil.isInRole('admin')">
    <h2>Zarządzaj portalem</h2>
    <div class="dashboard-row">
        <mat-card class="dashboard-card">
            <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-header-title">Użytkownicy</mat-card-title>
            </mat-card-header>
            <mat-card-footer class="dashboard-card-footer">
                <a [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/admin/users"]'>
                    Przejdź do listy użytkowników
                </a>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<div *ngIf="rolesUtil.isInRole('doctor')">
    <h2>Twoje sprawy</h2>
    <div class="dashboard-row">
        <mat-card class="dashboard-card">
            <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-header-title">Godziny przyjęć</mat-card-title>
            </mat-card-header>
            <mat-card-footer class="dashboard-card-footer">
                <a [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/admin/schedule"]'>
                    Edytuj godziny przyjęć
                </a>
            </mat-card-footer>
        </mat-card>
        <mat-card class="dashboard-card">
            <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-header-title">Wyniki badań</mat-card-title>
            </mat-card-header>
            <mat-card-footer class="dashboard-card-footer">
                <a [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/admin/set-diagnosis"]'>
                    Wprowadź wyniki badań
                </a>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<div *ngIf="!rolesUtil.isInRole('admin') && !rolesUtil.isInRole('doctor')">
    <h2>Nie daj się zaskoczyć alergii..</h2>
    <div class="dashboard-row">
        <img src="assets/images/wiosna.jpg" height="350px" class="dashboard-image"/>
        <mat-card class="dashboard-card-tall">
            <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-header-title">Czy wiesz, że..</mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                pierwsze drzewa pylą już w styczniu? Nie czekaj na objawy, zadbaj o siebie już teraz!
            </mat-card-content>
            <mat-card-footer class="dashboard-card-footer">
                <a [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/appointments"]'>
                    Umów się na wizytę
                </a>
            </mat-card-footer>
        </mat-card>
    </div>
</div>

<h2>Statystyki serwisu</h2>
<div class="dashboard-row">
    <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
            <mat-card-title class="dashboard-card-header-title">Zarejestrowanych użytkowników</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            {{dashboardData.statistics.registeredUsersCount}}
        </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
            <mat-card-title class="dashboard-card-header-title">Lekarzy <br />w placówce</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            {{dashboardData.statistics.doctorsCount}}
        </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header" text>
            <mat-card-title class="dashboard-card-header-title">Liczba <br /> wizyt</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            {{dashboardData.statistics.appointmentsCount}}
        </mat-card-content>
    </mat-card>
</div>
