<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home feather'></span> Home
            </a>
        </li>
        <li class="nav-item" *ngIf='isPatient()'>
            <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/appointments"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-briefcase feather'></span> Umów się
            </a>
        </li>
        <li class="nav-item" *ngIf='isPatient()'>
            <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/diagnosis"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-book feather'></span> Wizyty
            </a>
        </li>
        <li class="nav-item" *ngIf='isAdmin() || isDoctor()'>
            <a (click)='collapse()'>
                    <span class='glyphicon glyphicon-cog feather'></span> Zarządzaj
            </a>
            <ul class="nav flex-column ml-4">
                <li class="nav-item" *ngIf='isAdmin()'>
                    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/admin/users"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-user feather'></span> Użytkownicy
                    </a>
                </li>
                <li class="nav-item" *ngIf='isDoctor()'>
                    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/admin/schedule"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-calendar feather'></span> Grafik
                    </a>
                </li>
                <li class="nav-item" *ngIf='isDoctor()'>
                    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/admin/set-diagnosis"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-calendar feather'></span> Wprowadź badania
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>